@import url('https://fonts.googleapis.com/css?family=Dhurjati&subset=telugu');


*{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    color: #222;
}

i:hover{
    color: #ffffff;
}
.user-cv-7jan{
    padding: 30px;
}
.mian-body-cv{
    background-color: whitesmoke;
    padding: 30px;
     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.table{
    margin-top: 30px;
}
.table, th, td {
    border: 2px solid #222;
    /*font-family: 'Dhurjati', sans-serif;*/
    font-size: 17px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #222;
  
}


#exTab2 h3 {
  color : white;
  background-color: #222;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
    color: #222;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #222;
  padding : 5px 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #16A085;
}
/*=====>uplaod-option<======*/
.uplaod-option{
      display: block;
  padding: 1em 2em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
}
.tab-pane h3{
    font-size: 18px;
} 








